/* Configuración de Flexbox en el body para hacer que el footer esté siempre al fondo */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa; /* Color de fondo para dar efecto de separación */
}
/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* Mantener este valor alto */
}

/* Estilos del contenedor principal de contenido */
#content-body {
    position: relative; /* Para que el preloader se posicione dentro */
    min-height: 200px; /* Altura mínima para el contenido */
}

/* Preloader para el content-body */
#content-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Más alto que el contenido pero limitado a content-body */
}

/* Contenedor del contenido principal */
#content-main {
    position: relative;
    z-index: 1; /* Para estar debajo del preloader */
    padding: 1rem;
    background-color: #495057;
    border-radius: 8px;
    color: #fff;
}


.version-app {
    font-size: 0.9rem;
    color: #ced4da;
    padding-right: 1rem;
}

/* Contenedor principal que ocupa todo el espacio disponible */
.main-container {
    display: flex;
    flex: 1;
    padding: 10px;
    gap: 10px;
}

/* Sidebar en estado expandido */
#sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease;
}

/* Sidebar en estado colapsado (solo íconos visibles) */
.sidebar-collapsed #sidebar {
    width: 70px;
}

/* Oculta el texto del menú cuando el sidebar está colapsado */
.sidebar-collapsed #sidebar .nav-link span {
    display: none;
}

/* Ajuste de icono centrado en sidebar colapsado */
#sidebar .nav-link i {
    font-size: 1.25rem;
    text-align: left;
    width: auto;
    margin-right: 10px; /* Margen entre ícono y texto */
}

/* Alineación del chevron a la derecha, visible incluso cuando el sidebar está colapsado */
#sidebar .nav-link .submenu-chevron {
    margin-left: auto;
}

/* Ajuste de ancho para el contenido principal cuando el sidebar está colapsado */
#mainContent {
    flex: 1;
    background-color: #343a40;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: margin-left 0.3s ease;
}

/* Estilos para el contenedor del encabezado */
#content-header {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #3a3f44; /* Fondo un poco más claro que el main */
    border-radius: 8px;
    color: #f8f9fa;
}

/* Estilos para el contenedor del cuerpo del contenido */
#content-body {
    padding: 1rem;
    background-color: #495057; /* Fondo un poco más oscuro */
    border-radius: 8px;
    color: #fff;
}

/* Estilos para el breadcrumb */
.breadcrumb {
    background-color: #495057; /* Fondo gris oscuro para contraste */
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem; /* Espacio interno adicional */
}
.breadcrumb a {
    color: #f8f9fa; /* Color claro para los enlaces */
}
.breadcrumb-item.active {
    color: #adb5bd; /* Color gris claro para el elemento activo */
}

/* Estilos para el menú de sidebar */
#sidebar .nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: background-color 0.2s;
}

#sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Resalta al pasar el mouse */
}

.submenu-chevron {
    transition: transform 0.3s;
}

/* Chevron rotado */
.submenu-collapsed .bi-chevron-right {
    transform: rotate(0deg);
}
.submenu-expanded .bi-chevron-right {
    transform: rotate(90deg);
}
