<div class="form-check">
    {{#if usershelper}}
    {{> usershelper}}
    {{/if}}
    <input
        type="checkbox"
        class="form-check-input"
        id="checkbox-{{@index}}"
        {{#if checked}}checked{{/if}}>
    <label class="form-check-label mb-3" for="checkbox-{{@index}}">
        {{caption}}
    </label>
</div>