<div class="form-check">
    <label class="form-check-label mb-3" for="checkbox-{{@index}}">
        {{caption}}
    </label>
    <input
        type="radio"
        class="form-check-input"
        id="checkbox-{{@index}}"
        {{#if checked}}checked{{/if}}>
</div>