<div class="form-check margin-bottom">
    <input
        type="checkbox"
        class="form-check"
        name="{{caption}}"
        id="checkbox-{{@index}}"
        {{#if checked}}checked{{/if}}>
    <label for="checkbox-{{@index}}">
        {{caption}}
    </label>
    {{#if usershelper}}
    {{> usershelper}}
    {{/if}}
</div>