{{! recursive_properties.hbs }}
{{#each this}}
<div class="node" data-id="{{id}}">
    <div class="card margin-bottom expanded">
        <div class="card-header bg-success">
            <h3 class="card-title">
                {{> component_i context="card"}}
                {{caption}}
            </h3>
            <div class="tools-box">
                {{> button_collapse expanded}}
            </div>
        </div>
        <div class="card-body">
            {{#if properties}}
            <div class="properties">
                {{#each properties}}
                {{> properties node_id=../id}}
                {{/each}}
            </div>
            {{/if}}

            {{#if children}}
            <div class="children">
                {{> recursive_properties children}}
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{/each}}
