// scss/utils/_responsive.scss

@include respond('small') {
  // Ajustes específicos del sidebar en pantallas pequeñas
  .sidebar {
    width: 60px; // Sidebar reducido a solo íconos en pantallas pequeñas
    .sidebar-content,
    .sidebar-footer {
      display: none; // Oculta contenido y footer en pantallas pequeñas
    }
  }

  // Ajustes para el contenido en pantallas pequeñas
  .content {
    width: calc(100% - 60px); // Descuenta el ancho del sidebar colapsado
    overflow-y: auto;
    flex-grow: 1;
  }

  // Ajustes específicos del footer en pantallas pequeñas
  .app-footer {
    flex-direction: column;
    height: auto;
    padding: $spacing-sm;

    .footer-status {
      margin: $spacing-xs 0; // Espaciado vertical entre elementos
    }
  }
}
