// scss/utils/_responsive.scss

@include respond('small') {
  .sidebar {
    width: $sidebar-min-width; // Colapsa el sidebar a solo iconos en pantallas pequeñas
    &.collapsed {
      width: $sidebar-min-width;
    }

    .sidebar-content .nav-text { 
      display: none; // Oculta el texto, muestra solo iconos
    }

    .sidebar-brand .brand-content {
      display: none; // Oculta el nombre de la aplicación
    }

    .sidebar-footer .user-content {
      display: none; // Oculta el nombre del usuario, muestra solo el botón de configuración
    }
    .sidebar-footer  {
      justify-content: start;
    }
  }

  .content {
    width: calc(100% - $sidebar-min-width); // Ajusta el ancho para el sidebar colapsado
    overflow-y: auto;
    flex-grow: 1;
  }
}
