// scss/utils/_responsive.scss

@include respond('small') {
   .sidebar {
    width: $sidebar-min-width; // Colapsa automáticamente en pantallas pequeñas
    position: flex;
    z-index: 1001;

    // Fuerza la eliminación de la clase expanded cuando en pantallas pequeñas
    &.expanded {
      width: $sidebar-min-width; // Se asegura que no mantenga el ancho expandido
    }

    .sidebar-content .nav-text {
      display: none; // Oculta el texto en modo colapsado
    }

    .sidebar-brand .brand-content {
      display: none; // Oculta el nombre de la aplicación en modo colapsado
    }

    .sidebar-footer .user-content {
      display: none; // Oculta el nombre del usuario en modo colapsado
    }
    .sidebar-footer  {
      justify-content: start;
    }
  }

  .content {
    width: calc(100% - $sidebar-min-width); // Ajusta el ancho para el sidebar colapsado
    overflow-y: auto;
    flex-grow: 1;
  }
}
