// scss/utils/_spacing.scss

.margin-top {
    margin-top: $spacing-sm;
}

.margin-bottom {
    margin-bottom: $spacing-sm;
}

.margin-top-lg {
    margin-top: $spacing-md;
}

.margin-bottom-lg {
    margin-bottom: $spacing-md;
}