// * file: scss/toastNotifier/toastNotifier.scss

@use 'sass:map';
@use '../base/colors' as *;
@use '../base/variables' as *;
@use '../base/mixins' as *;

#toast-notifier-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    .toast {
        padding: $spacing-sm;
        @include rounded();
        background-color: rgba($color-black, 0.5); /* Fondo menos transparente */
        border: 1px solid transparent;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        gap: $spacing-xs;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        opacity: 0;
        animation: fadeIn 0.3s ease, fadeOut 0.3s ease 16s;
        max-width: 300px;

        @each $name, $color in $theme-colors {
            &-#{$name} {
                border-color: $color;
                color: $color;
                background-color: rgba($color, 0.4); /* Ajuste de transparencia en colores de alerta */
            }
        }

        &:hover {
            box-shadow: 0 0 12px lighten($color-shadow, 20%);
            transform: translateY(-2px);
        }

        .toast-icon {
            font-size: 1.2rem;
        }

        .toast-text {
            font-size: 0.9rem;
            font-weight: $font-weight-normal;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
