// scss/layout/_app-main.scss

.app-main {
    display: flex;
    height: calc(100vh - $footer-height - 15px); // Ajuste dinámico para el alto menos el footer
    overflow: hidden; // Oculta cualquier contenido que exceda la altura
  
    // Sidebar ocupará menos espacio que el content
    .sidebar {
      flex-shrink: 0; // Asegura que el sidebar mantenga su ancho definido
    }
  
    // Content se expande para ocupar el espacio restante
    .content {
      flex-grow: 1; // Permite que content ocupe todo el espacio disponible
      overflow-y: auto; // Scroll en el eje Y para contenido extenso
      padding: $spacing-md;
    }
  }
  