.content-body {
  padding: $spacing-sm;
  background-color: $color-background;
  height: calc(100vh - $header-height - $footer-height - $spacing-md); // Ajuste de altura para el espacio visible
  overflow-y: auto; // Activa el scroll si el contenido excede la altura
  display: block; // Cambia a display:block para asegurar que ocupe todo el alto disponible
  gap: $spacing-sm; // Espaciado entre elementos internos (si flex está habilitado en el futuro)
}