// scss/layout/_content.scss

.content {
    background-color: $color-background-alt; // Fondo alternativo más claro
    color: $color-text; // Texto claro para contraste
    padding: $spacing-md; // Espaciado general dentro del content
    margin: 10px 10px 5px 5px; // Reduce el margen inferior a 10px
    flex-grow: 1; // Para que ocupe el espacio restante en el contenedor principal
    overflow-y: auto; // Habilita scroll solo en el eje Y
    @include shadow(); // Sombra para dar profundidad
    @include rounded(8px); // Bordes redondeados
  
    .content-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: $spacing-sm;
      border-bottom: 1px solid $color-hover; // Línea divisoria debajo del header
      margin-bottom: $spacing-md;
      
      .content-title {
        font-size: $font-size-large;
        font-weight: bold;
        color: $color-text;
      }
  
    }
  
    .content-body {
      padding: $spacing-md;
      background-color: $color-background; // Fondo más oscuro para contrastar
      @include rounded(); // Bordes redondeados
      min-height: 300px; // Altura mínima para la visualización de contenido
      display: flex;
      flex-direction: column;
      gap: $spacing-sm; // Espacio entre elementos internos
    }
  }
  