// scss/layout/_content.scss

.content {
  background-color: $color-background-alt;
  color: $color-text;
  flex-grow: 1; // Expande el content para ocupar el espacio vertical restante
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include shadow();
  @include rounded(8px);
  width: 100%;
}
