// scss/layout/_sidebar-brand.scss

.sidebar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-sm;
  background-color: $color-background-alt;
  border-bottom: 1px solid $color-hover;
  min-height: $header-height;

  .sidebar-toggle {
    background: transparent;
    border: none;
    color: $color-text;
    font-size: 1.5rem;
    cursor: pointer;
    padding: $spacing-xs;
    display: flex;
    align-items: center;
    @include transition(color, transform);

    &:hover {
      color: $color-accent;
      transform: scale(1.1);
    }
  }

  .brand-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand-logo {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 2px solid $color-accent;
      border-radius: 50%;
      transition: color 0.3s ease, transform 0.3s ease;
      margin-right: $spacing-xs;
      margin-left: $spacing-xs;
    
      &:hover {
        color: $color-accent;
        transform: scale(1.1);
      }
    
      // Aplica estilos al ícono tanto para <i> como para SVG
      i,
      .svg-icon {
        font-size: 1.4rem;
        color: currentColor;
        fill: currentColor;
        transition: color 0.3s ease, fill 0.3s ease;
    
        &:hover {
          color: lighten($color-accent, 10%);
          fill: lighten($color-accent, 10%);
        }
      }
    }
    

    .brand-name {
      font-size: 1rem;
      font-weight: $font-weight-normal;
      color: $color-text;
      margin: 0;
      flex-grow: 1;
    }
  }
}