// scss/layout/_sidebar-content.scss
@use 'sass:math';

.sidebar-content {
  padding: $spacing-sm;
  height: calc(100% - $header-height - ($footer-height * 2));
  overflow-y: auto;

  .nav-list {
    padding: 0;
    margin: 0;
    
    .nav-item {
      margin-bottom: math.div($spacing-xs, 2);
      list-style: none;

      .nav-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color-text;
        padding: $spacing-xs;
        text-decoration: none;
        background-color: transparent;
        border-radius: 3px;
        font-size: 0.9rem;
        @include transition(background-color, color);

        &:hover {
          background-color: $color-hover;
          color: $color-accent;
        }

        .nav-icon {
          margin-right: math.div($spacing-xs, 2);
          font-size: 1rem;
          color: $color-text-muted;
        }

        .nav-text {
          flex-grow: 1;
          color: $color-text;
        }

        // Estilos para el botón chevron
        .tools-box {
          display: flex;
          align-items: center;

          .button-collapse {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            display: flex;
            align-items: center;

            .menu-collapse {
              font-size: 0.8rem;
              transition: transform 0.3s ease-in-out, color 0.3s ease;
              color: $color-text-muted;

              &:hover {
                color: lighten($color-accent, 20%);
              }
            }

            // Aplicar rotación en el ícono cuando el botón tiene la clase expanded
            &.expanded .menu-collapse {
              transform: rotate(90deg);
            }
          }
        }
      }

      // Submenús multinivel con efecto de persiana
      .nav-submenu {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        padding-left: $spacing-sm;
        border-left: 2px solid $color-hover;
        margin-top: $spacing-xs;
        transition: max-height 0.4s ease, opacity 0.3s ease;

        .nav-item .nav-link {
          color: $color-text-muted;
          font-size: 0.85rem;

          &:hover {
            color: $color-accent;
          }
        }
      }

      // Mostrar submenú con animación
      &.expanded > .nav-submenu {
        max-height: 500px; // Ajusta según sea necesario
        opacity: 1;
      }
    }
  }
}
