// scss/layout/_sidebar.scss

.sidebar {
  background-color: $color-background;
  color: $color-text;
  width: 250px;
  height: calc(100% - 15px);
  margin: 10px 5px 5px 10px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include shadow();
  @include rounded(8px);

  &.expanded {
    width: 250px;
    animation: sidebarSlideIn 0.3s ease forwards;
  }

  &.collapsed {
    width: 60px;
    position: fixed;
    z-index: 1001;
    animation: sidebarSlideOut 0.3s ease forwards;

    .sidebar-content,
    .sidebar-footer {
      display: none;
    }
  }

  .sidebar-content {
    flex-grow: 1; // Ocupa el espacio disponible entre header y footer
    overflow-y: auto; // Permite scroll si el contenido excede la altura
    padding: $spacing-sm;
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }
}
