// scss/layout/_sidebar-content.scss
@use 'sass:math';

.sidebar-content {
  padding: $spacing-sm;
  height: calc(100vh - $header-height - ($footer-height * 2));
  overflow-y: auto;
  display: block;

  .nav-list {
    .nav-item {
      margin-bottom: math.div($spacing-xs, 2);
      list-style: none;

      // scss/components/_nav.scss
      .nav-link-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-xs;
        border-radius: 3px;
        background-color: transparent;
        @include transition(background-color, color, border-left);

        &:hover {
          background-color: $color-hover;
        }

        &.active {
          color: $color-accent; // Resalta el texto
          font-weight: $font-weight-bold; // Negrita para el texto
          background: linear-gradient(to right,
              rgba(187, 134, 252, 0.1),
              rgba(187, 134, 252, 0.2)); // Fondo degradado suave
          border-left: 4px solid $color-accent; // Línea lateral destacada
          box-shadow: inset 0 0 10px rgba(187, 134, 252, 0.1); // Sombra interna para profundidad
          @include transition(background, border-left, box-shadow);
        }

        .nav-link {
          display: flex;
          align-items: center;
          color: $color-text;
          text-decoration: none;
          font-size: 0.9rem;

          &:hover {
            color: $color-accent;
          }

          .nav-text {
            flex-grow: 1;
            color: $color-text;
          }
        }

        // Estilos para el botón de colapso
        .button-collapse {
          background: none;
          border: none;
          padding: 0.5rem;
          cursor: pointer;
          display: flex;
          align-items: center;

          .menu-collapse {
            font-size: 0.8rem;
            transition: transform 0.3s ease-in-out, color 0.3s ease;
            color: $color-text-muted;

            &:hover {
              color: lighten($color-accent, 20%);
            }
          }

          // Rotación del ícono cuando el botón tiene la clase expanded
          &.expanded .menu-collapse {
            transform: rotate(90deg);
          }
        }
      }

      // Submenús multinivel con efecto de persiana
      .nav-submenu {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        padding-left: $spacing-sm;
        border-left: 2px solid $color-hover;
        margin-top: $spacing-xs;
        transition: max-height 0.4s ease, opacity 0.3s ease;

        .nav-item .nav-link {
          color: $color-text-muted;
          font-size: 0.85rem;

          &:hover {
            color: $color-accent;
          }
        }
      }

      // Mostrar submenú con animación cuando nav-item está expandido
      &.expanded>.nav-submenu {
        max-height: 2500px;
        opacity: 1;
      }
    }
  }
}