// scss/layout/_sidebar.scss

.sidebar {
  background-color: $color-background;
  color: $color-text;
  width: $sidebar-max-width;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include shadow();
  @include rounded(8px);

  // Estado colapsado
  &.collapsed {
    width: $sidebar-min-width;
    .sidebar-content .nav-text, .sidebar-content .badge, .sidebar-content .tools-box {
      display: none; // Oculta el texto en modo colapsado
    }

    .sidebar-brand{
        justify-content: center;
        padding: 0;
    }

    .sidebar-brand .brand-content {
      display: none; // Oculta el nombre de la aplicación en modo colapsado
    }

    .sidebar-footer {
      justify-content: center;
      padding: 0;
    }

    .sidebar-footer .user-content {
      display: none; // Oculta el nombre del usuario en modo colapsado
    }
  }

  // Estado expandido en pantallas grandes únicamente
  &.expanded {
    @include respond('small') {
      width: $sidebar-max-width; // Solo se expande si no está en el punto de quiebre
    }
  }
}
