// scss/components/_badge.scss

@use 'sass:map';
@use 'sass:math';

// Variables de configuración para el componente `badge`
$badge-colors: (
  "primary": $color-primary-border,
  "success": $color-success-border,
  "danger": $color-danger-border,
  "warning": $color-warning-border,
  "info": $color-info-border,
  "light": $color-text-light,
  "dark": $color-background
);

$badge-sizes: (
  "sm": (padding: 0.25rem 0.5rem, font-size: 0.75rem, icon-size: 1rem),
  "md": (padding: 0.5rem 0.75rem, font-size: 0.875rem, icon-size: 1.25rem),
  "lg": (padding: 0.75rem 1rem, font-size: 1rem, icon-size: 1.5rem)
);

.badge {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  border-radius: math.div($spacing-xs, 2);
  text-transform: uppercase;
  white-space: nowrap;
  gap: 0.25rem; // Espacio entre icono y texto
  @include transition(background-color, color);

  // Iterar sobre los colores y aplicar los estilos de fondo y color de texto
  @each $name, $color in $badge-colors {
    &-#{$name} {
      background-color: map.get($badge-colors, $name);
      color: contrast(map.get($badge-colors, $name), $color-text-light, $color-text-muted);
    }
  }

  // Iterar sobre los tamaños y ajustar padding y tamaño de fuente
  @each $size, $settings in $badge-sizes {
    &-#{$size} {
      padding: map.get($settings, padding);
      font-size: map.get($settings, font-size);

    }
  }
}
