// * file: scss/components/_card.scss
@use 'sass:math';

.card {
  background-color: $color-background-alt;
  color: $color-text;
  @include rounded();
  @include shadow();
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  // Aplica el efecto glow solo si tiene la clase `card-glow`
  &.card-glow:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 15px $color-shadow, 0 0 10px $color-accent;
  }

  &.expanded>.card-body {
    max-height: 100%;
    opacity: 1;
    overflow: visible;
  }

  &:not(.expanded)>.card-body {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-xs $spacing-sm;
    border: 1px solid $color-hover;
    background-color: darken($color-background-alt, 5%);
    @include rounded($radius: 8px 8px 0 0);
    @include shadow();
    transition: border-color 0.3s ease, background-color 0.3s ease;

    // Estilos dinámicos basados en colores temáticos
    @each $theme, $color in $theme-colors {
      &.bg-#{$theme} {
        border-color: $color;
        background: linear-gradient(to bottom,
            darken($color-background-alt, 10%),
            $color-alert-background );
        color: lighten($color, 40%);
      }
    }

    >.card-title,
    &> :not(.tools-box):not(i) {
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      color: $color-text;
      margin: 0;
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: $spacing-xs;

      // Asegurar colores dinámicos
      @each $theme, $color in $theme-colors {
        .bg-#{$theme} & {
          color: lighten($color, 40%);
        }
      }
    }
  }

  // Estilo minimalista para card-header
  .card-header-minimal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: math.div($spacing-xs, 2) $spacing-sm;
    font-size: $font-size-small ;
    font-weight: $font-weight-normal;
    line-height: 1.2;
    background-color: darken($color-background-alt, 3%);
    color: $color-text-muted;

  }

  .card-body {
    padding: $spacing-xs;
    background-color: $color-background;
    color: $color-text;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    line-height: 1.5;
    max-height: 100%;
    opacity: 1;
    overflow: visible;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }
}