.form-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm; // Espacio entre elementos del formulario
  padding: $spacing-md;
  color: $color-text;

}

/* Aplicar dos columnas si hay más de 3 elementos */
.form-container:has(.form-group:nth-child(4)),
.form-container:has(.form-check:nth-child(4)),
.form-container:has(.form-radio:nth-child(4)) {
  &.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $spacing-md;
    row-gap: $spacing-sm;

    @include respond('large') {
      grid-template-columns: 1fr 1fr 1fr; /* Tres columnas en pantallas grandes */
    }

    @include respond('medium') {
      grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas medianas */
    }

    @include respond('small') {
      grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
  }
}

/* Estilos de elementos individuales */
.form-group {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  position: relative;

  .form-label {
    font-size: 0.875rem;
    color: $color-text-muted;
    font-weight: $font-weight-normal;
  }

  .form-help {
    font-size: 0.75rem;
    color: $color-text-muted;
  }

  .form-input,
  .form-textarea {
    background-color: $color-background;
    color: $color-text;
    padding: $spacing-xs;
    border: 1px solid $color-hover;
    border-radius: 4px;
    outline: none;
    @include transition(border-color, box-shadow);

    &:focus {
      border-color: $color-accent;
      box-shadow: 0 0 5px rgba($color-accent, 0.5);
    }

    &::placeholder {
      color: $color-text-muted;
    }
  }

  .form-textarea {
    min-height: 80px;
    resize: vertical; // Permitir ajuste vertical
  }

  &.error {
    .form-input,
    .form-textarea {
      border-color: $color-danger-border;
      box-shadow: 0 0 5px rgba($color-danger-border, 0.5);
    }

    .form-label {
      color: $color-danger-border;
    }

    .form-help {
      color: $color-danger-border;
    }

    .error-message {
      font-size: 0.75rem;
      color: $color-danger-border;
      margin-top: $spacing-xs;
    }
  }

  .form-check,
  .form-radio {
    display: flex;
    align-items: center;
    gap: $spacing-xs;

    input {
      accent-color: $color-accent;
      width: 1rem;
      height: 1rem;
      cursor: pointer;
    }

    label {
      color: $color-text;
      font-size: 0.875rem;
    }
  }
}
