.ignition-wrapper {
    padding: 0.5rem;
    background-color: #121212;
    color: $color-text;
    height: 100vh;               // Ocupa toda la altura de la pantalla
    display: flex;
    flex-direction: column;
}
