// * file: scss/components/_modal-container.scss
.modal-container {
  display: none; // Oculto por defecto
  position: fixed;
  inset: 0; // Atajo para top, right, bottom, left = 0
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transform: scale(0.9); // Efecto de entrada inicial
  transition: opacity 0.3s ease, transform 0.3s ease;

  // Modal activo
  &.active {
    display: flex;
    opacity: 1;
    transform: scale(1);
  }

  // Animación de cierre
  &.fade-out {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
  }
}
