// scss/components/_preloader.scss

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-background; // Fondo oscuro
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; // Para que quede encima de otros elementos
    transition: opacity 0.3s ease; // Transición suave al ocultarse
  
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  
    .spinner {
      width: 50px;
      height: 50px;
      border: 5px solid lighten($color-background, 20%); // Borde más claro para contraste
      border-top: 5px solid $color-accent; // Borde de color acento para animación
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
  
  // Animación de giro
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  