.ignition-sidebar {
    background-color: $color-sidebar;
    width: 250px;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    overflow-y: auto;
    color: $color-text;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0rem;
    // margin: $container-padding;

    &.collapsed {
        width: 80px;
    }

    #toggleSidebar {
        background: none;
        border: none;
        color: $color-accent;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: lighten($color-accent, 20%);
        }
    }
}
