// scss/base/_colors.scss

// Fondo oscuro principal y secundario
$color-background: #1a1a2e;
$color-background-alt: #16213e;
$color-intermediate: #1f1f33; // Color entre el fondo principal y el fondo alternativo
$color-secondary: #3a3a55; // Color secundario, menos intenso que el acento


// Color claro para texto sobre fondo oscuro
$color-accent: #bb86fc;           // Color de acento
$color-text: #e0e0e0;             // Texto principal
$color-text-muted: #b0b0b0;       // Texto secundario
$color-text-light: #f5f5f5; // Texto claro para elementos oscuros o con color de acento

// Colores adicionales para hover, focus y sombras
$color-shadow: rgba(0, 0, 0, 0.3);
$color-hover: lighten($color-background, 10%);
$color-focus: darken($color-background, 10%);

