// _variables.scss
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;

$font-family-base: 'Poppins', sans-serif; // Tipografía moderna
$font-size-base: 1rem;
$font-size-large: 1.25rem;
$font-size-small: 0.875rem;
// Peso de fuente
$font-weight-normal: 400;
$font-weight-bold: 700;

$footer-height: 2rem;
$header-height: 5.25rem;