{{#each this}}
<div class="node" data-id="{{id}}" data-type="{{type}}">
    <div class="card margin-bottom expanded">
        <div class="card-header bg-primary">
            <h3 class="card-title">
                {{> component_i context="card"}}
                {{caption}} properties
            </h3>
            <div class="tools-box">
                <button
                    class="button-tool button-info"
                    aria-label="Information">
                    <i class="bi bi-info-circle"></i>
                </button>
                {{> button_collapse expanded=true}}
            </div>
        </div>
        <div class="card-body">
            {{#if properties}}
            <div class="ignition-fold-container">
                {{#each properties}}
                {{> properties node_id=../id}}
                {{/each}}
            </div>
            {{/if}}
            {{!-- {{> card_propertie_info}} --}}
        </div>
    </div>
</div>
{{/each}}
