{{#each this}}
<div class="node" data-id="{{id}}" data-type="{{type}}">
    <div class="card margin-bottom expanded">
        <div class="card-header bg-primary">
            <h3 class="card-title">
                {{> component_i context="card"}}
                {{caption}} properties
            </h3>
            <div class="tools-box">
                {{> button_collapse expanded=true}}
            </div>
        </div>
        <div class="card-body">
            {{#if properties}}
            <div class="properties">
                {{#each properties}}
                {{> properties node_id=../id}}
                {{/each}}
            </div>
            {{/if}}
            {{> card_propertie_info}}
        </div>
    </div>

    {{!-- {{#if children}} --}}
    {{!-- <div class="children"> --}}
        {{!-- {{> recursive_properties children}} --}}
    {{!-- </div> --}}
    {{!-- {{/if}} --}}
</div>
{{/each}}
